<!DOCTYPE root[<!ELEMENT Visitus ANY>
<!ATTLIST Visitus id ID #REQUIRED>
<!ELEMENT Aboutus ANY>
<!ATTLIST Aboutus id ID #REQUIRED>
<!ELEMENT Custom404 ANY>
<!ATTLIST Custom404 id ID #REQUIRED>
 
<!ELEMENT BazaarAccount ANY>
<!ATTLIST BazaarAccount id ID #REQUIRED>
<!ELEMENT BazaarAccountHistory ANY>
<!ATTLIST BazaarAccountHistory id ID #REQUIRED>
<!ELEMENT BazaarBasket ANY>
<!ATTLIST BazaarBasket id ID #REQUIRED>
<!ELEMENT BazaarCheckout ANY>
<!ATTLIST BazaarCheckout id ID #REQUIRED>
<!ELEMENT BazaarCheckoutConfirm ANY>
<!ATTLIST BazaarCheckoutConfirm id ID #REQUIRED>
<!ELEMENT BazaarCheckoutShipping ANY>
<!ATTLIST BazaarCheckoutShipping id ID #REQUIRED>
<!ELEMENT Bazaargeneric ANY>
<!ATTLIST Bazaargeneric id ID #REQUIRED>
<!ELEMENT BazaarMaster ANY>
<!ATTLIST BazaarMaster id ID #REQUIRED>
<!ELEMENT BazaarProduct ANY>
<!ATTLIST BazaarProduct id ID #REQUIRED>
<!ELEMENT BazaarProductGroup ANY>
<!ATTLIST BazaarProductGroup id ID #REQUIRED>
<!ELEMENT BazaarReceipt ANY>
<!ATTLIST BazaarReceipt id ID #REQUIRED>
<!ELEMENT BazaarRegistration ANY>
<!ATTLIST BazaarRegistration id ID #REQUIRED>
<!ELEMENT BazaarStore ANY>
<!ATTLIST BazaarStore id ID #REQUIRED>
<!ELEMENT BazaarWishList ANY>
<!ATTLIST BazaarWishList id ID #REQUIRED>
<!ELEMENT Contactus ANY>
<!ATTLIST Contactus id ID #REQUIRED>
<!ELEMENT Eastindiaproduct ANY>
<!ATTLIST Eastindiaproduct id ID #REQUIRED>
<!ELEMENT Eastindiaproductgroup ANY>
<!ATTLIST Eastindiaproductgroup id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT History ANY>
<!ATTLIST History id ID #REQUIRED>

]>
<root id="-1">
  <BazaarStore id="1069" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-12T13:43:48" updateDate="2016-03-20T11:54:51" nodeName="Home" urlName="home" path="-1,1069" isDoc="" nodeType="1065" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarStore">
    <Folder id="1090" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2015-06-14T11:46:46" updateDate="2016-03-06T09:53:54" nodeName="Products" urlName="products" path="-1,1069,1090" isDoc="" nodeType="1082" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="Folder">
      <BazaarProductGroup id="1097" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2015-06-14T14:26:17" updateDate="2016-03-06T09:35:31" nodeName="Nuts" urlName="nuts" path="-1,1069,1090,1097" isDoc="" nodeType="1062" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProductGroup">
        <BazaarProduct id="1098" parentID="1097" level="4" creatorID="0" sortOrder="0" createDate="2015-06-14T14:27:50" updateDate="2016-03-06T09:35:37" nodeName="Almonds" urlName="almonds" path="-1,1069,1090,1097,1098" isDoc="" nodeType="1061" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
          <umbracoNaviHide>0</umbracoNaviHide>
          <description><![CDATA[<p>This is a description. Fill out the form below to get more information</p>]]></description>
          <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1013/dvkute7.jpg",
  "crops": []
}]]></image>
          <quote>1</quote>
        </BazaarProduct>
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarProductGroup>
    </Folder>
    <History id="1111" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2016-03-06T09:53:37" updateDate="2016-03-06T09:53:54" nodeName="History" urlName="history" path="-1,1069,1111" isDoc="" nodeType="1109" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="History">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[East India Company's History]]></title>
      <content><![CDATA[<p>some text about history here</p>]]></content>
    </History>
    <Aboutus id="1117" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2016-03-06T11:50:47" updateDate="2016-03-06T11:51:52" nodeName="About Us" urlName="about-us" path="-1,1069,1117" isDoc="" nodeType="1114" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="Aboutus">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[About US]]></title>
      <content><![CDATA[<p style="text-align: left;">This is some information about us</p>]]></content>
    </Aboutus>
    <Contactus id="1110" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2016-03-06T09:05:40" updateDate="2016-03-06T11:51:52" nodeName="Contact Us" urlName="contact-us" path="-1,1069,1110" isDoc="" nodeType="1108" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="Contactus">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Contact Us]]></title>
      <content><![CDATA[<p>this is a description for contact us</p>]]></content>
    </Contactus>
    <Visitus id="1118" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2016-03-06T11:51:04" updateDate="2016-03-06T11:51:52" nodeName="Visit Us" urlName="visit-us" path="-1,1069,1118" isDoc="" nodeType="1116" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="1115" nodeTypeAlias="Visitus">
      <umbracoNaviHide>1</umbracoNaviHide>
      <title><![CDATA[Come Visit Us!]]></title>
      <content><![CDATA[<p>some information about visit us</p>]]></content>
    </Visitus>
    <Custom404 id="1113" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2016-03-06T09:58:13" updateDate="2016-03-06T11:51:52" nodeName="404 page" urlName="404-page" path="-1,1069,1113" isDoc="" nodeType="1112" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="Custom404">
      <umbracoNaviHide>1</umbracoNaviHide>
    </Custom404>
    <umbracoNaviHide>0</umbracoNaviHide>
    <themePicker><![CDATA[EastIndiaCompany]]></themePicker>
    <storeTitle><![CDATA[East India Company]]></storeTitle>
    <tagLine><![CDATA[Get Shopping]]></tagLine>
    <mainImage>1099</mainImage>
    <mainTitle><![CDATA[Welcome to the Store!]]></mainTitle>
    <mainDescription><![CDATA[This is a description]]></mainDescription>
    <mainImageDescription><![CDATA[East India Company Hero Image]]></mainImageDescription>
    <storeUrl>1118</storeUrl>
    <storeUrlText><![CDATA[Come visit us!]]></storeUrlText>
    <customerAccounts>0</customerAccounts>
    <enableWishList>0</enableWishList>
    <customerMemberType><![CDATA[MerchelloCustomer]]></customerMemberType>
    <contentLinks><![CDATA[{"fieldsets":[{"properties":[{"alias":"contentImage","value":"1101"},{"alias":"url","value":"1069"}],"alias":"contentLink","disabled":false,"id":"b9dd6471-816a-4e14-a216-ba12b72b6403"},{"properties":[{"alias":"contentImage","value":"1099"},{"alias":"url","value":"1111"}],"alias":"contentLink","disabled":false,"id":"6ca46033-f49a-40a6-bc73-43542d158f72"}]}]]></contentLinks>
  </BazaarStore>
</root>