<!DOCTYPE root[<!ELEMENT Eastindiaproduct ANY>
<!ATTLIST Eastindiaproduct id ID #REQUIRED>
<!ELEMENT Eastindiaproductgroup ANY>
<!ATTLIST Eastindiaproductgroup id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
 
<!ELEMENT BazaarAccount ANY>
<!ATTLIST BazaarAccount id ID #REQUIRED>
<!ELEMENT BazaarAccountHistory ANY>
<!ATTLIST BazaarAccountHistory id ID #REQUIRED>
<!ELEMENT BazaarBasket ANY>
<!ATTLIST BazaarBasket id ID #REQUIRED>
<!ELEMENT BazaarCheckout ANY>
<!ATTLIST BazaarCheckout id ID #REQUIRED>
<!ELEMENT BazaarCheckoutConfirm ANY>
<!ATTLIST BazaarCheckoutConfirm id ID #REQUIRED>
<!ELEMENT BazaarCheckoutShipping ANY>
<!ATTLIST BazaarCheckoutShipping id ID #REQUIRED>
<!ELEMENT BazaarMaster ANY>
<!ATTLIST BazaarMaster id ID #REQUIRED>
<!ELEMENT BazaarProduct ANY>
<!ATTLIST BazaarProduct id ID #REQUIRED>
<!ELEMENT BazaarProductGroup ANY>
<!ATTLIST BazaarProductGroup id ID #REQUIRED>
<!ELEMENT BazaarReceipt ANY>
<!ATTLIST BazaarReceipt id ID #REQUIRED>
<!ELEMENT BazaarRegistration ANY>
<!ATTLIST BazaarRegistration id ID #REQUIRED>
<!ELEMENT BazaarStore ANY>
<!ATTLIST BazaarStore id ID #REQUIRED>
<!ELEMENT BazaarWishList ANY>
<!ATTLIST BazaarWishList id ID #REQUIRED>

]>
<root id="-1">
  <BazaarStore id="1069" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-12T13:43:48" updateDate="2015-06-14T13:22:06" nodeName="Store" urlName="store" path="-1,1069" isDoc="" nodeType="1065" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarStore">
    <BazaarBasket id="1072" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2015-04-12T13:43:48" updateDate="2015-06-14T13:22:07" nodeName="Basket" urlName="basket" path="-1,1069,1072" isDoc="" nodeType="1057" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarBasket">
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarBasket>
    <BazaarCheckout id="1073" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2015-04-12T13:43:48" updateDate="2015-06-14T13:22:07" nodeName="Checkout" urlName="checkout" path="-1,1069,1073" isDoc="" nodeType="1058" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarCheckout">
      <BazaarCheckoutConfirm id="1074" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2015-04-12T13:43:48" updateDate="2015-06-14T13:22:07" nodeName="Confirm Sale" urlName="confirm-sale" path="-1,1069,1073,1074" isDoc="" nodeType="1059" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarCheckoutConfirm">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarCheckoutConfirm>
      <BazaarReceipt id="1075" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2015-04-12T13:43:49" updateDate="2015-06-14T13:22:07" nodeName="Receipt" urlName="receipt" path="-1,1069,1073,1075" isDoc="" nodeType="1063" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarReceipt">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarReceipt>
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarCheckout>
    <BazaarRegistration id="1076" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2015-04-12T13:43:49" updateDate="2015-06-14T13:22:07" nodeName="Registration / Login" urlName="registration-login" path="-1,1069,1076" isDoc="" nodeType="1064" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarRegistration">
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarRegistration>
    <BazaarAccount id="1077" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2015-04-12T13:43:49" updateDate="2015-06-14T13:22:07" nodeName="Account" urlName="account" path="-1,1069,1077" isDoc="" nodeType="1055" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarAccount">
      <BazaarWishList id="1078" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2015-04-12T13:43:49" updateDate="2015-06-14T13:22:06" nodeName="Wish List" urlName="wish-list" path="-1,1069,1077,1078" isDoc="" nodeType="1066" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarWishList">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarWishList>
      <BazaarAccountHistory id="1079" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2015-04-12T13:43:49" updateDate="2015-06-14T13:22:06" nodeName="Purchase History" urlName="purchase-history" path="-1,1069,1077,1079" isDoc="" nodeType="1056" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarAccountHistory">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarAccountHistory>
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarAccount>
    <Folder id="1090" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2015-06-14T11:46:46" updateDate="2015-06-14T13:24:10" nodeName="Products" urlName="products" path="-1,1069,1090" isDoc="" nodeType="1082" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="Folder">
      <BazaarProductGroup id="1097" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2015-06-14T13:23:43" updateDate="2015-06-14T13:23:43" nodeName="Nuts" urlName="nuts" path="-1,1069,1090,1097" isDoc="" nodeType="1062" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProductGroup">
        <BazaarProduct id="1098" parentID="1097" level="4" creatorID="0" sortOrder="0" createDate="2015-06-14T13:23:53" updateDate="2015-06-14T13:25:45" nodeName="Almond" urlName="almond" path="-1,1069,1090,1097,1098" isDoc="" nodeType="1061" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
          <umbracoNaviHide>0</umbracoNaviHide>
          <description><![CDATA[<p>This is a description. Enter your details below to get a quote</p>]]></description>
          <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1013/img_2520.jpg",
  "crops": []
}]]></image>
          <quote>1</quote>
        </BazaarProduct>
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarProductGroup>
    </Folder>
    <Folder id="1089" parentID="1069" level="2" creatorID="0" sortOrder="7" createDate="2015-06-14T11:46:05" updateDate="2015-06-14T13:24:05" nodeName="Buy Now" urlName="buy-now" path="-1,1069,1089" isDoc="" nodeType="1082" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="Folder">
      <BazaarProductGroup id="1086" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2015-05-13T19:31:45" updateDate="2015-06-14T13:22:06" nodeName="Lentils and Nuts" urlName="lentils-and-nuts" path="-1,1069,1089,1086" isDoc="" nodeType="1062" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProductGroup">
        <BazaarProduct id="1087" parentID="1086" level="4" creatorID="0" sortOrder="2" createDate="2015-05-13T19:37:31" updateDate="2015-06-14T13:22:06" nodeName="Cashews" urlName="cashews" path="-1,1069,1089,1086,1087" isDoc="" nodeType="1061" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
          <umbracoNaviHide>0</umbracoNaviHide>
          <description><![CDATA[<p>This is a description of cashews. Please enter more words here. This is a description of cashews. Please enter more words here. This is a description of cashews. Please enter more words here. This is a description of cashews. Please enter more words here. This is a description of cashews. Please enter more words here. This is a description of cashews. Please enter more words here. This is a description of cashews. Please enter more words here. </p>]]></description>
          <merchelloProduct><![CDATA[1139ec8b-8f67-46ff-979e-2630d1ddaad3]]></merchelloProduct>
          <brief><![CDATA[This is a description of cashews. Please enter more words here.]]></brief>
          <image><![CDATA[{
  "focalPoint": {
    "left": 0.52,
    "top": 0.4044943820224719
  },
  "src": "/media/1010/img_2523.jpg",
  "crops": []
}]]></image>
        </BazaarProduct>
        <BazaarProduct id="1088" parentID="1086" level="4" creatorID="0" sortOrder="3" createDate="2015-05-13T20:10:05" updateDate="2015-06-14T13:22:06" nodeName="Almonds" urlName="almonds" path="-1,1069,1089,1086,1088" isDoc="" nodeType="1061" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
          <umbracoNaviHide>0</umbracoNaviHide>
          <description><![CDATA[<p>This is a description for almonds. Please enter more text here. This is a description for almonds. Please enter more text here. This is a description for almonds. Please enter more text here. This is a description for almonds. Please enter more text here. This is a description for almonds. Please enter more text here. This is a description for almonds. Please enter more text here. This is a description for almonds. Please enter more text here. </p>]]></description>
          <merchelloProduct><![CDATA[100d1987-f85b-4bc6-a248-dd4e0d189ed3]]></merchelloProduct>
          <brief><![CDATA[This is a description for almonds. Please enter more text here.]]></brief>
          <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1011/img_2520.jpg",
  "crops": []
}]]></image>
        </BazaarProduct>
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarProductGroup>
      <BazaarProductGroup id="1085" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2015-05-13T19:30:21" updateDate="2015-06-14T13:22:06" nodeName="Herbs" urlName="herbs" path="-1,1069,1089,1085" isDoc="" nodeType="1062" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProductGroup">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarProductGroup>
      <BazaarProductGroup id="1084" parentID="1089" level="3" creatorID="0" sortOrder="3" createDate="2015-05-13T19:30:11" updateDate="2015-06-14T13:22:06" nodeName="Spices" urlName="spices" path="-1,1069,1089,1084" isDoc="" nodeType="1062" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProductGroup">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarProductGroup>
    </Folder>
    <umbracoNaviHide>0</umbracoNaviHide>
    <themePicker><![CDATA[EastIndiaCompany]]></themePicker>
    <storeTitle><![CDATA[East India Company]]></storeTitle>
    <tagLine><![CDATA[Get Shopping]]></tagLine>
    <customerAccounts>1</customerAccounts>
    <enableWishList>0</enableWishList>
    <customerMemberType><![CDATA[MerchelloCustomer]]></customerMemberType>
  </BazaarStore>
</root>