<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BazaarAccount ANY>
<!ATTLIST BazaarAccount id ID #REQUIRED>
<!ELEMENT BazaarAccountHistory ANY>
<!ATTLIST BazaarAccountHistory id ID #REQUIRED>
<!ELEMENT BazaarBasket ANY>
<!ATTLIST BazaarBasket id ID #REQUIRED>
<!ELEMENT BazaarCheckout ANY>
<!ATTLIST BazaarCheckout id ID #REQUIRED>
<!ELEMENT BazaarCheckoutConfirm ANY>
<!ATTLIST BazaarCheckoutConfirm id ID #REQUIRED>
<!ELEMENT BazaarCheckoutShipping ANY>
<!ATTLIST BazaarCheckoutShipping id ID #REQUIRED>
<!ELEMENT BazaarMaster ANY>
<!ATTLIST BazaarMaster id ID #REQUIRED>
<!ELEMENT BazaarProduct ANY>
<!ATTLIST BazaarProduct id ID #REQUIRED>
<!ELEMENT BazaarProductGroup ANY>
<!ATTLIST BazaarProductGroup id ID #REQUIRED>
<!ELEMENT BazaarReceipt ANY>
<!ATTLIST BazaarReceipt id ID #REQUIRED>
<!ELEMENT BazaarRegistration ANY>
<!ATTLIST BazaarRegistration id ID #REQUIRED>
<!ELEMENT BazaarStore ANY>
<!ATTLIST BazaarStore id ID #REQUIRED>
<!ELEMENT BazaarWishList ANY>
<!ATTLIST BazaarWishList id ID #REQUIRED>
<!ELEMENT Eastindiaproduct ANY>
<!ATTLIST Eastindiaproduct id ID #REQUIRED>
<!ELEMENT Eastindiaproductgroup ANY>
<!ATTLIST Eastindiaproductgroup id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>

]>
<root id="-1">
  <BazaarStore id="1069" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-12T13:43:48" updateDate="2016-02-20T12:59:24" nodeName="Home" urlName="home" path="-1,1069" isDoc="" nodeType="1065" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarStore">
    <Folder id="1090" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2015-06-14T11:46:46" updateDate="2015-06-14T14:29:17" nodeName="Products" urlName="products" path="-1,1069,1090" isDoc="" nodeType="1082" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="Folder">
      <BazaarProductGroup id="1097" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2015-06-14T14:26:17" updateDate="2015-06-14T14:26:17" nodeName="Nuts" urlName="nuts" path="-1,1069,1090,1097" isDoc="" nodeType="1062" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProductGroup">
        <umbracoNaviHide>0</umbracoNaviHide>
        <BazaarProduct id="1098" parentID="1097" level="4" creatorID="0" sortOrder="0" createDate="2015-06-14T14:27:50" updateDate="2015-06-14T14:28:42" nodeName="Almonds" urlName="almonds" path="-1,1069,1090,1097,1098" isDoc="" nodeType="1061" creatorName="Jonathan Cammisuli" writerName="Jonathan Cammisuli" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
          <umbracoNaviHide>0</umbracoNaviHide>
          <description><![CDATA[<p>This is a description. Fill out the form below to get more information</p>]]></description>
          <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1013/img_2520.jpg",
  "crops": []
}]]></image>
          <quote>1</quote>
        </BazaarProduct>
      </BazaarProductGroup>
    </Folder>
    <umbracoNaviHide>0</umbracoNaviHide>
    <themePicker><![CDATA[EastIndiaCompany]]></themePicker>
    <storeTitle><![CDATA[East India Company]]></storeTitle>
    <tagLine><![CDATA[Get Shopping]]></tagLine>
    <mainImage>1099</mainImage>
    <mainTitle><![CDATA[Welcome to the Store!]]></mainTitle>
    <mainDescription><![CDATA[This is a description]]></mainDescription>
    <mainImageDescription><![CDATA[East India Company Hero Image]]></mainImageDescription>
    <customerAccounts>0</customerAccounts>
    <enableWishList>0</enableWishList>
    <customerMemberType><![CDATA[MerchelloCustomer]]></customerMemberType>
    <contentLinks><![CDATA[{"fieldsets":[{"properties":[{"alias":"contentImage","value":"1101"},{"alias":"url","value":"1069"}],"alias":"contentLink","disabled":false,"id":"b9dd6471-816a-4e14-a216-ba12b72b6403"}]}]]></contentLinks>
  </BazaarStore>
</root>