@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Bazaar.Models.ViewModels.MasterModel>
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Models
@using Merchello.Core.Models
@using Merchello.Web
@using Umbraco.Web

<section id="footer">
    <div class="container">
        <h5>Footer</h5>
        <p>
            © @DateTime.Now.Year
        </p>
    </div>
</section>