@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Bazaar.Models.ViewModels.MasterModel>
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Models
@using Merchello.Core.Models
@using Merchello.Web
@using Umbraco.Web

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 footer-info">
                <h5>About</h5>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit
                </p>
            </div>
            <div class="col-lg-2 footer-info">
                <h5>Information</h5>
                <ul>
                    <li>Privacy</li>
                </ul>
            </div>
            <div class="col-lg-2 footer-info">
                <h5>Contact us</h5>
                <p>
                    <i class="fa fa-map-marker"></i> Location
                </p>
                <p>
                    <i class="fa fa-phone"></i> Phone
                </p>
                <p>
                    <i class="fa fa-envelope"></i> Email
                </p>
            </div>
            <div class="col-lg-4 footer-info">
                <h5>Connect with us</h5>
                <ul class="social-bar">
                    <li>
                        <i class="fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa fa-google-plus"></i>
                    </li>
                    <li>
                        <i class="fa fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copy-right">
            © @DateTime.Now.Year @Model.StoreTitle
        </div>
    </div>
</section>