@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductGroupModel>
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Web

@{
    Layout = "Master.cshtml";
}
<section id="content" class="clearfix">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Name</h1>
        </div>
    </div>

    <div id="products">
        @{
            var products = Model.Children<ProductModel>().ToArray();
            if (products.Any())
            {

                foreach (var product in products)
                {
                    <div class="col-md-3 product">
                        <a href="@product.Url">
                            <img src="@product.GetCropUrl(propertyAlias: "image", height: 400)">
                            <div class="info">
                                <span class="name">@product.Name </span>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <div class="container">
                    <h3>Sorry, there seems to be no products here.</h3>
                </div>
            }

        }

    </div>
</section>



